<div class="example">
  <h3>Radio Buttons</h3>
  <form>
    <label>
      <input type="radio" name="group1" value="Milk">
      Milk
    </label>
    <label>
      <input type="radio" name="group1" value="Butter" checked>
      Butter
    </label>
    <label>
      <input type="radio" name="group1" value="Cheese">
      Cheese
    </label>
    <hr>
    <label>
      <input type="radio" name="group2" value="Water">
      Water
    </label>
    <label>
      <input type="radio" name="group2" value="Beer">
      Beer
    </label>
    <label>
      <input type="radio" name="group2" value="Wine" checked>
      Wine
    </label>
  </form>
</div>