<div class="example">
  <h3>Text Inputs</h3>
  <form>
    <label for="empty">Empty:</label>
    <input type="text" name="empty" id="empty"/>
    <label for="filled">Filled:</label>
    <input type="text" name="filled" id="filled" value="filled">
    <label for="emptyarea">Empty Area:</label>
    <textarea name="emptyarea" id="emptyarea" rows="4" cols="25"></textarea>
    <label for="filledarea">Filled Area:</label>
    <textarea name="filledarea" id="filledarea" rows="4" cols="25">filled</textarea>
    <input type="hidden" id="hidden">
  </form>
</div>